<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <link rel="stylesheet" href="/default/styles/base.css" />
        <link rel="stylesheet" href="/user/admin/styles/index.css" />
        <link id="color-scheme" rel="stylesheet" href="/default/styles/dark.css" />
        <title>Soft Depot - Администратор</title>
    </head>
    <body>
        <header>
            <div class="header-buttons">
                <!-- Кнопка "Домой" -->
                <a id="main-button" class="button" th:href="@{/}">
                    <div class="logo"></div>
                    <span class="store-name" title="Главная страница">SOFT DEPOT</span>
                </a>

                <div class="right-buttons-panel">
                    <!-- Тема -->
                    <button class="change-theme button" title="Сменить тему" onclick="change_theme()"></button>

                    <!-- Выход -->
                    <a class="profile-exit-button button" title="Выход" th:href="@{/log-out}"></a>
                </div>
            </div>
        </header>
        <main>
            <li class="buttons-side-panel">
                <ul>
                    <a class="button" th:href="@{/administrator/id{id}(id=${admin.getId()})}">Главная</a>
                </ul>
                <ul>
                    <a class="button" th:href="@{/administrator/id{id}/categories(id=${admin.getId()})}">Категории</a>
                </ul>
                <ul>
                    <a class="button" th:href="@{/administrator/id{id}/programs(id=${admin.getId()})}">Товары</a>
                </ul>
                <ul>
                    <a class="button" th:href="@{/administrator/id{id}/purchases(id=${admin.getId()})}">Заказы</a>
                </ul>
<!--                <ul>-->
<!--                    <a class="button" th:href="@{/administrator/id{id}/customers(id=${admin.getId()})}">Покупатели</a>-->
<!--                </ul>-->
<!--                <ul>-->
<!--                    <a class="button" th:href="@{/administrator/id{id}/developers(id=${admin.getId()})}">Разработчики</a>-->
<!--                </ul>-->
<!--                <ul>-->
<!--                    <a class="button" th:href="@{/administrator/id{id}/admins(id=${admin.getId()})}">Администраторы</a>-->
<!--                </ul>-->
            </li>
            <div class="main-panel">
                <div class="header">
                    <span class="header-text">Заказы</span>
                </div>
                <div class="content">
                    <!-- <div class="button add-category-button" onclick="add_tag_row('', -1)">Добавить категорию</div> -->
                    <div class="purchase-row" id="purchases-header">
                        <span class="purchase-column">ID</span>
                        <span class="purchase-column">Пользователь</span>
                        <span class="purchase-column">Программа</span>
                        <span class="purchase-column">Дата и время (UTC)</span>
                    </div>
                    <div class="purchases-rows">
                        <div class="purchase-row" th:each="purchase : ${purchases}">
                            <span class="purchase-column purchase-id" th:text="${purchase.getId()}">PURCHASE_ID</span>
<!--                            <a class="purchase-column customer-name" th:href="${purchase.getCustomerLink()}" th:text="${purchase.getCustomerName()}">CUSTOMER_NAME</a>-->
                            <span class="purchase-column customer-name" th:text="${purchase.getCustomerName()}">CUSTOMER_NAME</span>
                            <a class="purchase-column program-name" th:href="${purchase.getProgramLink()}" th:text="${purchase.getProgramName()}">GAME_NAME</a>
                            <span class="purchase-column purchase-date" th:text="${purchase.getDateTimeAsString()}">DATE_TIME</span>
                        </div>
                    </div>

                    <!--            <div th:each="tag : ${tags}" class="category-row">-->
                    <!--                <input type="text" class="category-name" th:value="${tag.getName()}" />-->
                    <!--                <div class="category-row-buttons">-->
                    <!--                    <button class="button save-button" th:attr="tag-id=${tag.getId()}" onclick="save_tag(event)"></button>-->
                    <!--                    <button class="button delete-button" th:attr="tag-id=${tag.getId()}" onclick="delete_tag(event)"></button>-->
                    <!--                </div>-->
                    <!--            </div>-->
                </div>
            </div>
        </main>
    </body>
    <script src="/default/scripts/jquery-3.7.1.min.js"></script>
    <script src="/default/scripts/main.js"></script>
    <script src="/default/scripts/theme.js"></script>
    <script src="/user/admin/scripts/categories.js"></script>
</html>
