.info-block {
    width: calc(100% - 20px);
    height: 100%;
    background-color: var(--bg-opacity);
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    vertical-align: center;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.name-and-role {
    align-self: center;
    margin-left: 10px;
}

.user-name {
    color: var(--text-color);
    font-size: 14pt;
}

.user-role {
    font-size: 11px;
    opacity: 0.6;
    font-weight: bold;
}