main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons-side-panel {
    list-style-type: none;
    width: 30%;
}

.buttons-side-panel ul {
    margin: 0;
    padding: 0;
}

.buttons-side-panel ul:not(:first-child) {
    margin-top: 10px;
}

.buttons-side-panel .button {
    height: 40px;
    text-decoration: none;
    color: var(--text-color);
}

.main-panel {
    margin-left: 10px;
    width: 100%;
}

.header {
    align-content: center;
    height: 40px;
}

.header-text {
    font-size: 28px;
}

.content {
    background-color: var(--bg-opacity);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    height: calc(100% - 70px);
}

/* КАТЕГОРИИ */

.category-row {
    /* background-color: red; */
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.category-row .category-name {
    border-radius: 10px;
    background: none;
    border: none;
    width: 100%;
    background-color: var(--bg-opacity);
    color: var(--text-color);
    padding: 10px;
    font-size: 14px;
}

/* .content :not(:first-child, .button, .category-row-buttons) {
    margin-top: 10px;
} */

.category-row-buttons .button {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.category-row-buttons {
    display: flex;
    border-radius: 10px;
    flex-direction: row;
}

.delete-button {
    height: 40px;
    width: 40px;
    background-color: darkred;
    background-size: 30px 30px;
    background-position: center;
}

.delete-button:hover {
    background-color: red;
}

.save-button {
    background-size: 30px 30px;
}

.add-category-button {
    height: 40px;
}

/* ПРОГРАММЫ*/
#admin-games-list {
    height: calc(80%);
    border-radius: 10px;
}

.admin-game-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 80px;
    width: 100%;
    background-color: var(--bg-opacity);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10px;
}

.admin-game-row:hover {
    background-color: var(--bg-no-opacity);
    cursor: pointer;
}

.admin-game-remove {
    height: 40px;
    width: 40px;
    background-color: darkred;
    margin: 10px;
    background-image: url("/default/styles/svg/cross-white.svg");
    background-size: 30px 30px;
    background-position: center;
}

.admin-game-remove:hover {
    background-color: red;
}

.admin-game-buttons {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: var(--bg-color2);
    height: 60px;
    align-items: center;
    margin-right: 10px;
    /* width: 150px; */
    justify-content: space-between;
}

.preview {
    border-radius: 10px 0 0 10px;
    height: 100%;
}

.admin-game-description {
    /* width: 100%; */
    /*display: flex;*/
    align-content: center;
    padding: 10px;
    height: 100%;
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
}

/* ЗАКАЗЫ */
.purchase-row {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-opacity);
}

.purchases-rows .purchase-row {
    margin-top: 10px;
}

#purchase-header {
    padding: 10px;
}

.purchase-column {
    width: 24%;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.purchase-row a {
    color: var(--href-color);
}

.purchase-row :not(:last-child) {
    border-right: 1px solid var(--text-color);
}

.edit-button {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-right: 0;
}

/* ПРОГРАММЫ */
.add-program-form-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-program-form {
    background-color: var(--bg-color2);
    height: 538px;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.forms {
    margin-top: 10px;
    overflow: auto;
    max-height: calc(538px - 50px);
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
    border-radius: 10px;
}

.forms::-webkit-scrollbar {
    display: none;
}

.form-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-header span {
    font-size: 16pt;
    margin-top: 0;
}

.close-button {
    height: 40px;
    width: 40px;
}

.add-program-form textarea,
.add-program-form .program-name {
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
}

/* p {
    margin-top: 10px;
    margin-bottom: 0;
} */
p {
    margin: 0;
    margin-bottom: 10px;
}

#categories-selector {
    margin: 0;
}

#categories-selector :last-child {
    margin: 0;
}

.program-tag {
    margin: 0;
    margin-bottom: 10px;
}

.add-program-form input[type="text"],
.add-program-form input[type="number"],
.add-program-form textarea,
.add-program-form select {
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: var(--text-color);
    font-size: 14px;
}

.program-tag {
    width: 100%;
}

.add-tag {
    width: calc(100% - 20px);
    padding: 10px;
    color: var(--text-color);
    margin-top: 10px;
}

.submit {
    width: 100%;
    padding: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    /*скрыть стрелки у инпута цены*/
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    /*скрыть стрелки у инпута цены*/
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
