@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");

    font-family: "Roboto-Thin";
    src: url("fonts/Roboto/Roboto-Thin.ttf");
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-body);
    color: var(--text-color);
    background-size: 100%;
    /* transition: background-color 0.3s ease-in-out; */
}

.input {
    padding: 10px;
    font: var(--font-default);
    color: var(--text-color);
    background-color: var(--bg-opacity);
    border: 0px;
    border-radius: 10px;
}

input:focus,
textarea:focus {
    outline: none;
}

.select {
    padding: 10px;
    font: var(--font-default);
    color: var(--text-color);
    background-color: var(--bg-opacity);
    border: 0px;
    border-radius: 10px;
}

.select-option {
    padding: 10px;
    font: var(--font-default);
    color: var(--text-color);
    background-color: var(--bg-opacity);
    border: 0px;
    border-radius: 10px;
}

.select-option:disabled {
    display: none;
}

.select-option:checked {
    background-color: var(--bg-no-opacity);
}

/************************ header ************************/

header {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    z-index: 2024;
    backdrop-filter: blur(10px);
    /* Размытие фона */
    background: linear-gradient(to bottom, var(--bg-body), transparent);
}

#search-form {
    position: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    background-color: var(--bg-opacity);
    color: var(--text-color);
}

#search-form:has(#search:focus) {
    background-color: var(--bg-no-opacity);
}

#search-form .loupe {
    width: 20px;
    height: 20px;
    margin: 5px 10px 5px 15px;
}

#search {
    border: none;
    outline: none;
    height: 30px;
    width: calc(100% - 55px);
    padding: 0;
    background-color: var(--search-bg-color);
    font: var(--font-default);
    color: var(--text-color);
}

header img {
    height: 40px;
}

.button {
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    background-color: var(--bg-opacity);
}

#main-button {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 10px;
    width: 230px;
    height: 40px;
    font-size: 25px;
    color: var(--text-color);
    background-color: var(--bg-main-opacity);
}

.logo {
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-position: center;
}

.button:hover {
    cursor: pointer;
    background-color: var(--bg-no-opacity);
}

#main-button:hover {
    cursor: pointer;
    background-color: var(--bg-no-opacity);
}

header .button {
    height: 40px;
    width: 40px;
    margin-left: 5px;
}

header .button img {
    height: 30px;
    width: 30px;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login {
    background-image: url("svg/door-white.svg");
}

.right-buttons-panel {
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.right-buttons-panel .button {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

/************************ footer ************************/

footer {
    padding: 10px;
    height: 60px;
    align-items: center;
}

/************************ main ************************/

main {
    min-height: calc(1vh - 60px);
    height: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

/*ОТЗЫВЫ*/

.review {
    padding: 10px;
    margin-top: 10px;
    background-color: var(--bg-opacity);
    border-radius: 10px;
}

.review-user {
    color: var(--text-color);
    text-decoration: none;
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.review-program {
    color: var(--text-color);
    text-decoration: none;
    height: 50px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.review-program-preview {
    height: 100%;
    border-radius: 10px;
}

.review-username {
    margin-left: 10px;
}

.review-program-name {
    margin-left: 10px;
}

.review-user-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.review-estimation {
    display: flex;
    height: 25px;
    width: 125px;
}


/*Фон всплывающего окна*/
#pop-up-bg {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /*position: absolute;*/
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
}

.ok-button:hover {
    background-color: var(--green);
}

.cancel-button:hover {
    background-color: var(--red);
}

#add-program-as-developer {
    width: 100%;
    height: 40px;
    color: var(--text-color);
    margin-top: 10px;
    font-size: 14pt;
}

.multi-line-input {
    width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    min-height: 20px;
    height: 80px;
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
}

/*Стили скроллбара для Chromium*/
::-webkit-scrollbar-track {
    background: var(--bg-opacity);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--bg-opacity);
    border-radius: 10px;
}

/*Стили скроллбара для Firefox*/
html {
    scrollbar-color: var(--text-color) var(--bg-opacity);
}

/*Отзывы*/
#review-input-item {
    background-color: var(--bg-opacity);
    border-radius: 10px;
    padding: 10px;
}

#review-input-item .input {
    margin-top: 10px;
}

.send-review-footer {
    height: 40px;
    width: 100%;
    margin-top: 10px;
}

#send-review-button {
    height: 40px;
    font-size: 11pt;
    color: var(--text-color);
}

.estimation-button:hover {
    cursor: pointer;
}

.review-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.review-date-time {
    color: var(--text-dark-color);
    align-self: self-end;
    align-self: center;
}