body {
    --bg-body: rgb(16, 16, 16);
    --bg-color: rgb(64, 64, 64);
    --bg-opacity: rgba(64, 64, 64, 0.4);
    --bg-main-opacity: rgba(64, 64, 64, 0);
    --bg-no-opacity: rgb(64, 64, 64);
    --border-color: rgb(32, 32, 32);
    --text-color: white;
    --text-bright-color: white;
    --red: rgba(255, 0, 0, 0.6);
    --green: rgba(0, 255, 0, 0.6);
    --yellow: rgba(255, 255, 0, 0.6);
    --secondary-text-color: rgba(255, 255, 255, 0.6);
}

.shopping-basket {
    background-image: url("svg/shopping-basket-white.svg");
}

.profile {
    background-image: url("svg/profile-white.svg");
}

.login {
    background-image: url("svg/login-white.svg");
}

.logout {
    background-image: url("svg/logout-white.svg");
}

.logo {
    background-image: url("svg/train-white.svg");
}

.loupe {
    background-image: url("svg/search-white.svg");
}

.change-theme {
    background-image: url("svg/moon.svg");
}

.close-button {
    background-image: url("svg/cross-white.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.close-button:hover {
    background-color: var(--red);
}

.close-button-bright {
    background-image: url("svg/cross-white.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.edit-button {
    background-image: url("svg/change-circle-outline-rounded-white.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.save-button {
    background-image: url("svg/save-white.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

#recommendations-button {
    background-image: url("svg/recommendation-white.svg");
}