body {
    --bg-body: rgb(255, 255, 255);
    --bg-color: rgb(223, 223, 223);
    --bg-opacity: rgba(223, 223, 223, 0.4);
    --bg-main-opacity: rgba(223, 223, 223, 0);
    --bg-no-opacity: rgb(223, 223, 223);
    --border-color: rgb(234, 234, 234);
    --text-color: black;
    --text-bright-color: white;
}

.shopping-basket {
    background-image: url("/styles/svg/shopping-basket-black.svg");
}

.profile {
    background-image: url("/styles/svg/profile-black.svg");
}

.logo {
    background-image: url("/styles/svg/train-black.svg");
}

.loupe {
    background-image: url("/styles/svg/search-black.svg");
}

.change-theme {
    background-image: url("/styles/svg/sun.svg");
}

.close-button {
    background-image: url("/styles/svg/cross-black.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.close-button-bright {
    background-image: url("/styles/svg/cross-white.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}
